@font-face {
    font-family: EuclidCircularB-Light;
    src: url(../../assets/Fonts/EuclidCircularB-Light.ttf);
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 74px;
    /* border: solid black 1px; */
}

.HeaderConteiner{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    /* border: solid black 1px ; */
}
.LOGO{
    display: flex;
    align-items: center;
    justify-content: center;
}
.NAVBAR nav{
    width: 100%;
    height: 100%;
}
.NAVBAR nav ul{
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.NAVBAR nav ul li{
    color: #040062;
    font-family: EuclidCircularB-Light;
    padding-left: 20px;
    font-size: 15px;
    line-height: 22px;
}
.LENG{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.LENG p{
    font-family: EuclidCircularB-Light;
    margin-right: 26.5px;
}
.VectorDown{
    margin-top: 5px;
}
.GetEarlyAccess{
    margin-left: 26.5px;
    font-family: EuclidCircularB-Light;
    font-size: 15px;
    color: white;
    background-color: #0013FF;
    padding: 9px;
    border-radius: 100px;
    text-align: center;
}